.container {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
}

.logos {
  display: flex;
  align-items: center;
  padding: 40px 0 20px;
}

.header {
  font-family: 'Rampart One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}

.header p {
  opacity: 0.9;
  line-height: 1.5;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.list {
  padding: 30px;
  width: 32%;
  background-color: rgba(13, 62, 255, 0.05);
  border: 3px dotted rgba(13, 62, 255, 0.3);
  border-radius: 10px;
}

.listItem {
  padding-left: 10px;
}

.listImage {
  border-radius: 10px;
  text-align: center;
}

.listImage img {
  border-radius: 30px;
}

.twitterIcon {
  cursor: pointer;
  font-size: 2rem;
}

.plus {
  font-size: 20px;
  margin: 0 20px;
}

.heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 0.5px;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  .wrap {
    display: flex;
    flex-direction: column;
align-content: center;
  }

  .list {
    padding: 30px;
    width: 100%;
    margin: 1rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  .heading {
    border-color: #343539;
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.post {
  margin-bottom: 50px;
}

.postTitle {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.postTitle a {
  color: inherit;
}

.postDescription {
  margin-top: 0;
  margin-bottom: 12px;
  opacity: 0.65;
} */