.container {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
}

.logos {
  display: flex;
  align-items: center;
  padding: 40px 0 20px;
}

.header {
  font-family: "Mochiy Pop One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.header p {
  opacity: 0.9;
  line-height: 1.5;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  padding: 30px;
  width: 32%;
  background-color: rgba(13, 62, 255, 0.05);
  border: 3px dotted rgba(13, 62, 255, 0.3);
  border-radius: 10px;
}

.listItem {
  padding-left: 10px;
}

.listImage {
  border-radius: 10px;
  text-align: center;
}

.listImage img {
  border-radius: 30px;
}

.twitterIcon {
  cursor: pointer;
  font-size: 2rem;
}

.plus {
  font-size: 20px;
  margin: 0 20px;
}

.heading {
  border-bottom: solid 3px rgb(163, 182, 227);
  position: relative;
  margin-bottom: 5rem;
}

.heading:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px rgb(19, 61, 159);
  bottom: -3px;
  width: 20%;
}

.post {
  list-style: none;
  padding: 0 0.5rem;
  margin-top: 3rem;
  position: relative;
}

.check {
  position: absolute;
  top: -3em;
  background-color: rgba(216, 69, 69, 0.5);
  padding: 0.25em 2em;
  color: #fff;
  /* transform: rotate(-4deg); */
}

.postTitle {
  position: relative;
  padding-left: 25px;
  padding-bottom: 10px;
  font-size: 1.6rem;
}

.postTitle:before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}

.postTitle:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 10px;
  width: 70%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

.postTitle a {
  color: #000000;
}

.postDescription {
  margin-left: 25px;
}

.blogLink {
  display: block;
  text-align: right;
}

.blogLink:hover {
  opacity: 0.6;
  transition: 0.2s;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  .wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .list {
    padding: 30px;
    width: 100%;
    margin: 1rem;
  }

  .postTitle:after {
    width: 100%;
  }

  .postTitle {
    font-size: 1.2rem;
  }
}

.adminForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}

.adminForm input[type="password"] {
  margin-right: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.adminFormButton {
  background-color: rgb(102, 190, 222);
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px;
}

.adminForm button:hover {
  opacity: 0.6;
  transition: all 0.5s;
  cursor: pointer;
}
